<!DOCTYPE html> <!-- html5 makes this insensitive, so lowercase doctype is fine also -->
<html lang = en>
<head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width,initial-scale=1" />
    <title>One-dollar bet log!</title>
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css') }}">
</head>
<body>
    <main>
        <h1>Shared Notebook</h1>
        <div class = "editor">
            <!-- This shows... it is what it is. Each username and their column should be matched -->
            <div id="userColumn"></div>

            <!-- This is where the user types Markdown text -->
            <textarea id = "noteBox" placeholder = "Enter your notes here..."></textarea>
            
            <!-- This div will show the rendered Markdown in real-time -->
            <div id="preview"></div>
        </div>
        <div>
            <button id = "saveBtn">Save</button>
            <button id = "boldBtn">Bold?</button>
            <button id = "italicBtn">Italicize?</button>
        </div>
    </main>

    <script src = "{{ url_for('static', filename = 'app.js') }}"></script>
</body>
</html>